# =========================================================
#          rk3566_receiver 项目的 .gitignore 文件
# =========================================================

# 忽略所有在build目录下的内容
# 这是最重要的一条，避免上传任何编译中间文件和最终产物
build/

# 忽略所有编译生成的目标文件、静态库和动态库
*.o
*.a
*.so
*.dll

# 忽略最终生成的可执行文件
# 您可以把您项目编译出的可执行文件名加在这里
rk3566_receiver


# 忽略IDE/编辑器相关的配置文件夹
.vscode/
.idea/
*.swp
*.swo

# 忽略操作系统自动生成的垃圾文件
.DS_Store
Thumbs.db

# 忽略日志文件和本地配置文件 (示例)
*.log
config.local
